:root{
    --grey-color: #828282;
    --light-grey: #bebebe;
    --lighter-grey: #d9d9d9;
    --white: #ffffff;
    --text-black: #141313;

    --fs-1: 4.2rem;
    --fs-2: 3.8rem;
    --fs-3: 3.2rem;
    --fs-4: 2.5rem;
    --fs-5: 2.4rem;
    --fs-6: 2rem;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    
}


/* CSS RESET */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
button{
    display: block;
}

button,
input {
    font: inherit;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

img {
    height: auto;
}

address {
    font-style: normal;
}

html {
    font-family: sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: var(--text-black);
    font-size: 1.6rem;
}


/*  General CSS */
.h1{
    font-size: var(--fs-1);
    font-weight: var(--fw-700);
}

.h4{
    font-size: var(--fs-4);
}

.mb-2{
    margin-bottom: 2rem;
}

main{
    min-height: 100vh;
}

section{
    display: flex;
    width: 100%;   
}

.center{
    text-align: center;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: var(--lighter-grey);
    border-radius: 50%;
    z-index: 2;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}

/* Main CSS */


/* Login CSS */
.login{
    padding: 5rem;
    margin-inline: auto;
    min-height: 100vh;
    width: 80%;
}

:is(.logo, .login-form, .line-holder){
    width: 50%;
}

.main-logo {
    width: fit-content;
    padding: 1rem 2rem;
    background-color: var(--grey-color);
    position: absolute;
    top:0;
    left: -5rem;
    font-weight: var(--fw-700);
    color: var(--white);
}


.line-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.line1 {
    height: 1px;
    width: 120%;
    background-color: var(--text-black);
    transform: rotate(50deg);
}

.line2 {
    height: 1px;
    width: 120%;
    background-color: var(--text-black);
    transform: rotate(-50deg);
} 
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-color);
    gap: 2rem;
    position: relative;
}

.hexagon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--light-grey);
    z-index: 1;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


.logo > .logo-text{
    color: var(--white);
    letter-spacing: .1rem;
    text-align: center;
    z-index: 2;
}

.logo >  .logo-text > h1{
    margin-bottom: .8rem;
}

.logo > .logo-text > p {
    font-weight: var(--fw-600);
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey); 
    color: var(--text-black);
    letter-spacing: .1rem;
}

.login-form .h4{
    margin-block: 2rem 4rem;
}

.login-form > form{
    width: 80%;
}

form > .input-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}

form > .input-group + .input-group{
    margin-top: 2rem;
}

form > .input-group > label {
    font-size: 1.4rem;
    font-weight: var(--fw-600);
}

form > .input-group > input{
    height: 4rem;
    border: var(--light-grey) solid 1px;
    outline: none;
    line-height: 1.6;
    transition: .2s;
}
form>.input-group>input:is(:focus){
    outline: none;
    border: var(--grey-color) solid 2px;
}

form > .input-group > input::placeholder{
    font-size: 14px;
    padding-left: 1rem;
    color: var(--text-black);
}

form > .input-group.btn-holder{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: flex-end;
}

form  .btn{
    font-size: var(--fs-6);
    color: var(--text-black);
    border: none;
    outline: none;
    background-color: var(--white);
    padding: 1rem 2rem;
    transition: .5s ease-in-out;
}

form .btn:hover {
    color: var(--white);
    border: var(--lighter-grey) 1px solid;
    background-color: var(--grey-color);
}

.login-form  > p {
    margin-top: 2rem;
}

.login-form > p > a {
    display: inline;
    color: var(--text-black);
    font-weight: var(--fw-600);
}